doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title SJD
        link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
    body
        #buttons
            div
                span Formation 
                button#lorem( data-type = 'text', data-content='lorem', data-current='0', data-string='LOREM IPSUM DOLOR SANTI AMET DANI ELIT RAIMOND') Lorem
                button.emoji( data-type = 'icon', data-content='smiley') 
                    span 😀
                button.emoji( data-type = 'icon', data-content='thumb')
                    span 👍
                button( data-type = 'reset', data-content='none' ) x
            //- div 
            //-     span Animation 
            //-     button( data-type = 'animation', data-id='lorem') Tiger
            //-     button( data-type = 'animation', data-id='lorem') Bird

            #performance
        script( src = '../js/index.js' )